<!DOCTYPE html>
<html>
<head>
	<title>Meadowlark Travel</title>
	<link rel='stylesheet' href='/css/main.css'></head>
<body>
	<div class="container">
		<header>
			<h1>Meadowlark Travel</h1>
			{{{_sections.head}}}
		</header>
		{{{body}}}
		<footer>&copy;{{copyrightYear}}Meadowlark Travel</footer>
		<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
		{{{_sections.jquery}}}
	</div>
</body>
</html>